
h1 {
    align-self: center;
}

.header {
    padding: 10px 16px;
    
    color: #f1f1f1;
  }
  
  /* Page content */
  .content {
    padding: 16px;
  }
  
  /* The sticky class is added to the header with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 102px;
  }

ul {
    display: flex;
    align-items: stretch; /* Default */
    justify-content: center;
    width: 100%;
   
    margin: 0;
    padding: 0;
}
li {
    display: block;
    width: 2cm;
    flex: 0 1 auto; /* Default */
    list-style-type: none;
    background:#fafafa;
}

